---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<img src="/638434470291178405.png">
<h1>About Me</h1>
<p>

Ben Swincicki is a distinguished individual with a diverse background that uniquely positions him in the real estate industry. His journey commenced in the military, where he served with honor and dedication, showcasing resilience and unwavering commitment as a disabled veteran. Transitioning into federal law enforcement, he gleaned the value of adaptability, collaboration, and meticulous attention to detail in navigating dynamic situations.
</p>
<p>

In 2006, Ben made his foray into real estate by acquiring his first house, a decision that paved the way for him to become the owner of 29 properties over the years. This diverse portfolio encompasses single-family homes, multiplexes, vacant land, flips, short-term rentals, and long-term rentals—all managed hands-on. This direct involvement has endowed him with invaluable insights into the nuanced dynamics of the real estate market.
</p>
<p>

Ben's strategic vision and leadership acumen have been instrumental in the growth and success of his ventures. His unique blend of law enforcement experience, military service, and entrepreneurial spirit distinguishes him in the real estate landscape. Whether facilitating clients in property transactions or overseeing his extensive real estate portfolio, Ben brings a wealth of expertise and a steadfast sense of integrity to every interaction. He strongly believes in community, family, faith, and integrity.

</p>
