---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<img src="/638434470291178405.png">
<h1>Founder Story</h1>
<p>
I grew up in a working-class family in Michigan, where I saw firsthand what hard work and resilience looked like. By age 12, I was already working, and I never stopped.
</p><p>
Driven to serve something bigger than myself, I enlisted in the United States Army while still in high school and went on to serve in the elite 1st Ranger Battalion. That experience instilled a lifelong commitment to discipline, accountability, and mission success.
</p><p>
After earning my degree with honors from Eastern Michigan University, I continued my service as a Special Agent with the Drug Enforcement Administration, where I spent over 20 years leading complex operations across the U.S. and internationally, including in high-risk environments like Haiti. I later held senior leadership roles at headquarters, working directly on intelligence, crypto, blockchain, and national-level initiatives.
</p><p>
I founded NEED Global Solutions to bring that same mission-focused mindset to government and commercial clients, delivering disciplined execution, strategic insight, and real-world experience to solve complex problems.
</p>
<h2>Results matter and mission always comes first.</h2>

<p><b>Certifications:</b></p>
<p>
Contracting Officer Representative
</p><p>
Real Estate License
</p><p>
Advanced Law Enforcement Training
</p><p>
Contact Information:
</p><p>
Benjamin Swincicki</br>
703-215-6424</br>
bswincicki@needglobalsolutions.org
</p><p>
UEI: T56QJDF49XA9</br>
CAGE: 156G5</br>
SDVOSB: Approved</br>
NVBDC: Pending
<p>
