---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} needglobalsolutions. All rights reserved.
	<div class="social-links">
		<a href="https://www.facebook.com/profile.php?id=61556093054521" target="_blank">
			<span class="sr-only">Follow needglobalsolutions on Facebook</span>
			<svg
				viewBox="0 0 16 16"
				aria-hidden="true"
				width="32"
				height="32"
				astro-icon="social/facebook"

				></svg>
		</a>
		<a href="https://www.youtube.com/@BenSwincicki" target="_blank">
			<span class="sr-only">Follow needglobalsolutions on YouTube</span>

			<svg
				viewBox="0 0 16 16"
				aria-hidden="true"
				width="32"
				height="32"
				astro-icon="social/youtube"
				></svg>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
